.checkout-page {
  background-color: #2f303a;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: start;
  min-height: 50vh;
  margin-bottom: 10%;
}
.checkout-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  z-index: 2;
}
.checkout-form {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  border: 2px solid white;
  border-radius: 50px;
  padding: 5%;
}
.input-container {
  position: relative;
}

.error-message {
  position: absolute;
  top: 0px;
  right: 0px;
  color: red;
  font-size: 12px;
}

.label {
  padding-right: 10px;
}

.label,
.input-container {
  margin-bottom: 10px;
}

#pay-btn {
  text-align: center;
}
.message {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-content {
  background: #919191;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
