.order-confirmation-page {
  background-color: #2f303a;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: start;
  min-height: 50vh;
  margin-bottom: 10%;
}
.order-confirmation-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  z-index: 2;
  text-align: center;
  color: white;
  border: 2px solid white;
}
.confirmation-cart-list {
  list-style-type: none;
}
.btn-confirm {
  width: 50%;
  align-self: center;
}
.confirmpage-under-navbar {
  height: 25vh;
  background-color: #2f303a !important;
}
