.flex-container {
  display: flex;
  height: 100vh;
}

.left-container,
.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-container .top-content {
  margin-bottom: 20px;
}

.left-container .top-image {
  max-width: 100%;
}

/* Carousel specific styles */
.right-container {
  width: 100%;
  max-width: 800px; /* Set a maximum width for the carousel */
  margin: 0 auto; /* Center the carousel horizontally */
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  width: 100%; /* Ensure images take up full width of the slide */
  height: auto; /* Preserve aspect ratio */
  max-height: 100vh; /* Ensure images do not exceed viewport height */
  object-fit: cover; /* Maintain aspect ratio and fill container */
}
