.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #515151;
  color: white;
  border-radius: 25px;
}

.menu-container {
  position: relative;
}

.navbar-left,
.navbar-middle,
.navbar-right {
  display: flex;
  align-items: center;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-button i {
  margin-right: 5px;
}

.dropdown-menu {
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  background-color: #515151;
  color: white;
  border: 1px solid #2f303a;
  padding: 10px;
  border-radius: 4px;
}
.dropdown-item {
  text-decoration: none;
  color: white;
  white-space: nowrap;
  border-top: 2px solid black;
}

.logo {
  width: 88px;
  height: 88px;
  margin-right: 10px;
}

.login-button,
.register-button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 100%;
}

.login-button:hover,
.register-button:hover {
  background-color: #919191;
}
