.navbar {
  position: fixed;
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #515151;
  color: white;
  z-index: 2;
}

.menu-container {
  position: relative;
}

.navbar-left,
.navbar-middle,
.navbar-right {
  display: flex;
  align-items: center;
}
.navbar-left {
  padding-left: 10px;
}
.navbar-right {
  padding-right: 10px;
}

.nav-title-text {
  font-size: 64px;
  text-align: center;
  padding: 0px 50px;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.menu-button i {
  margin-right: 5px;
}

.dropdown-menu {
  display: block !important;
  position: absolute;
  text-align: center;
  top: 100%;
  left: 0;
  background-color: #515151;
  color: white;
  border: 2px solid black;
  padding: 10px;
  border-radius: 4px;
  z-index: 2;
}
.dropdown-item {
  text-decoration: none;
  color: white;
  white-space: nowrap;
  border-top: 2px solid black;
}
.dropdown-item > p {
  margin: 0px;
  padding: 2vh;
  text-align: center;
}

.dropdown-menu > .dropdown-item:last-child {
  border-bottom: 2px solid black;
}

.logo {
  width: 88px;
  height: 88px;
  margin-right: 10px;
}

.login-button,
.register-button {
  background-color: transparent;
  border: none;
  color: white;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 100%;
}

.login-button:hover,
.register-button:hover {
  background-color: #919191;
}
