.xlg-text {
  font-size: x-large;
}
.xxlg-text {
  font-size: xx-large;
}
body {
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif !important;
  background-color: #2f303a !important;
}

.under-navbar {
  height: 15vh;
  background-color: #2f303a !important;
}

.circle {
  position: fixed;
  border-radius: 50%;
  z-index: 0;
}

.circle1 {
  background-color: rgba(23, 98, 167, 0.1);
  width: 40vh;
  height: 40vh;
  top: 5vh;
  left: 10vh;
}

.circle2 {
  background-color: rgba(255, 160, 122, 0.1);
  width: 50vh;
  height: 50vh;
  top: -20vh;
  left: 85vh;
}

.circle3 {
  background-color: rgba(23, 98, 167, 0.1);
  width: 20vh;
  height: 20vh;
  top: 20vh;
  left: 150vh;
}

.circle4 {
  background-color: rgba(255, 160, 122, 0.1);
  width: 70vh;
  height: 70vh;
  top: 60vh;
  left: 130vh;
}

.circle5 {
  background-color: rgba(23, 98, 167, 0.1);
  width: 20vh;
  height: 20vh;
  top: 77vh;
  left: 40vh;
}

.z-index-increase {
  z-index: 1;
}

.warning-text {
  color: crimson;
}
.not-found-text {
  margin-top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}
